
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Choose</title>
   
  </head>

<body>
    <h1>Choose to add or delete center</h1>

    <button onclick="addcenter()">Add center</button>
    <button onclick="deletecenter()">delete center</button>
    
    <script>
          function addcenter() {
            window.location.href="/addcenter";
          }

          function deletecenter() {
            window.location.href="/deletecenter";
          }
        
        </script>
    
</body>
</html>


